<mat-accordion>
    <mat-expansion-panel *ngFor="let subStacks of mainStack.children">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{subStacks.name | uppercase}}
            </mat-panel-title>
            <mat-panel-description>
                View {{ subStacks.name | lowercase }} servers
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let servers of subStacks.children">
                <mat-expansion-panel-header>
                    <!-- Type of server (Backend, Frontend or Admin server) -->
                    <mat-panel-title>
                        {{ servers.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{servers.name | titlecase}} controls
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let server of servers.children">
                        <!-- Server and status -->
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{server.name}}</mat-panel-title>
                            <mat-panel-description>
                                <span *ngIf="server.startButton==='enabled'">
                                    (Offline)
                                </span>
                                <span *ngIf="server.stopButton==='enabled'">
                                    (Online)
                                </span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="mat-body-1">
                            Start/Stop the server using the buttons
                        </div>
                        <mat-action-row>
                            <button
                              mat-raised-button
                              matTooltip="Click to start the server"
                              class="btn-start"
                              (click)="updateStartButton(server)"
                              [disabled]="server.startButton === 'disabled'">
                              start
                            </button>
                            <button
                              mat-raised-button
                              matTooltip="Click to stop the server"
                              class="btn-stop"
                              (click)="updateStopButton(server)"
                              [disabled]="server.stopButton === 'disabled'"
                              color="warn">
                              stop
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-expansion-panel>
</mat-accordion>