/* Styling for the dashboard-content component html */

/* h1, h2, h3, h4, h5 {
    text-align: center;
    color: #1EE1C9;
}

.stack-main {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin: 0px auto 8px auto;
    padding-bottom: 1px;
}

.stack-server-btn {
    margin: auto;
    width: 60%;
    background-color: #544f43;
}

.server-type {
    border: 2px solid #EA3F78;
    border-radius: 7px;
    width: 60%;
    margin: auto;
    padding: 2px 0 10px;
    display: flex;
    flex-direction: column;
}

.server-type-wrap {
    background-color: #307015;
    border: 1px solid black;
    border-radius: 7px;
    width: 75%;
    margin: 4px auto 4px auto;
    padding: 5px 5px 8px 5px;
}

.expanded {
    width: 90%;
    margin: auto;
    padding-bottom: 8px;
    border: 1px solid black;
}

.expanded h5 {
    text-align: center;
}

.server-button {
    display: flex;
    justify-content: center;
}

.server-button button {
    margin: 10px;
} */

/* mat-expansion-panel {
    background-color: aliceblue;
} */